/* pnl.css */
.pnl-section {
    flex: 2;
    padding: 10px;
    box-sizing: border-box;
    margin-left: -50px;
    max-width: 70%;
  }
  
  .chart-wrapper {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  
  .chart-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .test-area-drop-shadow {
    filter: drop-shadow(0px 10px 10px rgba(255, 255, 255, 0.32))
            drop-shadow(0px -2px 4px rgba(255, 255, 255, 0.32));
  }
  