.personal-info-page {
  min-height: 100vh;
  padding: 20px;
}

.generate-report-title {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }
  
  .generate-report-selector {
    display: block;
    width: 35%;
    margin: 10px auto;
  }

  .personal-info-page-dark .generate-report-selector {
    background-color: black;
    border: .1px solid white !important;
    border-radius: 2px !important;
    color: blue
  }
  .personal-info-page-light .generate-report-selector {
    
    border: .1px solid white !important;
    border-radius: 2px !important;
  }

  .report__control {
    background-color: black;
    border: none;
    box-shadow: none; /* Optional: remove box-shadow */
  }

  .report__single-value {
    color: #007aff; /* Blue */
  }

  .report__menu {
    background-color: black;
  }

  .report__option {
    background-color: black;
    color: #007aff;
  }

  .report__option--is-focused {
    background-color: #222;
  }
  
  
  .generate-button {
    display: flex;
    justify-content: center;
    width: 35%;
    background-color: #007aff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
  }
  
  .generate-button:hover {
    background-color: #005ecb;
  }
  
  .success-message {
    color: #00ff00;
    text-align: center;
    margin-top: 10px;
  }
  
  .info-section {
    margin-top: 20px;
  }
  
  .info-section label {
    font-size: 16px;
    font-weight: bold;
  }
  
  .info-content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #444;
    padding: 10px 0;
    font-size: 14px;
    color: #aaa;
  }
  