.rewards-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    padding-top: 80px;
  }

  .rewards-page-dark {
    background-color: black;
  }
  
  .rewards-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .rewards-icon {
    font-size: 100px;
    color: #007aff;
    margin-bottom: 10px;
  }
  
  .rewards-description {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 20px;
    max-width: 80%;
  }
  
  .invite-progress {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .progress-bar-container {
    width: 100%;
    height: 5px;
    background-color: #333;
    border-radius: 3px;
    margin: 5px 0;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #007aff;
    border-radius: 3px;
  }
  
  .progress-text {
    font-size: 14px;
    color: rgb(56, 246, 56);
  }
  
  .share-invite-button {
    background-color: #007aff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .share-invite-button:hover {
    background-color: #005bb5;
  }
  
  .rewards-section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .reward-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
  }
  
  .reward-item {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Keeps items spaced inside */
    width: 100%;
    max-width: 450px; /* Prevents stretching too wide */
    padding: 10px;
    border-bottom: 1px solid #333;
  }
  
  
  .reward-icon {
    color: rgb(56, 246, 56);
    margin-right: 10px;
  }
  
  .reward-amount {
    color: rgb(56, 246, 56);
    font-weight: bold;
  }